@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Nunitos-bold";
  src: url("../assets/font/Nunitos/NunitoSans-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-regular";
  src: url("../assets/font/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../assets/font/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Extrabold";
  src: url("../assets/font/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 100;
} */
@font-face {
  font-family: "Nunitos-bold";
  src: url("../assets/font/Nunitos/NunitoSans-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-regular";
  src: url("../assets/font/Outfit/Outfit-Regular.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../assets/font/Outfit/Outfit-Bold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Extrabold";
  src: url("../assets/font/Outfit/Outfit-ExtraBold.ttf") format("truetype");
  font-weight: 100;
}
h2{
  color: #000000f0 !important;
}
.Nunito-bold,p{
  font-family: "Nunitos-bold";
}
.vision-text{
  font-family: none !important;
  font-weight: 100 !important;
}
.roboto_Extrabold{
  font-family: "Roboto-Extrabold";
  line-height: normal;
}
.roboto_bold{
  font-family: "Roboto-bold";
  font-style: normal;
}
.roboto_regular,li{
  font-family: "Roboto-regular";
  font-weight: 100;
}
.header-container{
  position: sticky;
  top: 0;
  z-index: 5;
}
.text-gradient{
  background: linear-gradient(yellow,red);
  background-clip: text;
  color: transparent; 
}

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.notviewScroll{
 overflow: hidden;
}
.viewScroll{
  display: block;
}
/*{
  font-family: "Nunito Sans";
  font-weight: 300;
}*/
.title-card{
  display: inline-block;
  height: 20px;
}
iframe,
.map-render > div {
  width: 100%;
  height: 100%;
}
footer li{
  color: #6F6F6F;
}
/*h1,
h2,
.font-poet {
  font-weight: 400;
  font-family: "Nunitos";
}*/
.link-ver-mas{
  font-size: .54rem !important;
  line-height: normal !important;
}
/*.card-product h3 {
  font-weight: 400;
}*/

/*.card-product p:first-child {
  font-weight: 800;
}*/
.container-image-beneficio{
  left: -10%;
  top: -80px;
}
.button-beneficio{
  background: black;
  width: max-content;
  color: white;
  padding: 12px 15px;
  border-radius: 8px;
}

.mantine-Tabs-tabLabel{
  font-size: 1.4rem !important;
  font-weight: 700;
}

.container-image-beneficio::before{
  z-index: 1;
  position: absolute;
  right: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Beneficios";
  background: black;
  color: white;
  padding: 10px;
}
.gradient-beneficio{
  width: 100%;
  border-radius: 40px;
  background: #f5f5f5;
  /* background: linear-gradient(310deg, #f7f7f7 20%, #ff8755) */
}
.img-gradient{
  
  border-radius: 40px;
}
.gradiente-2{
  background: #ff4d0038;
  border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
}
.swiper {
  height: 100%;
}
.portada-main {
  height: 85vh;
  width: 100%;
}

.slider-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container-login,.container-registrar{
  right: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.295);
  transform: translate(0%,110%);
  max-width: 6%;
  min-width: 318px;
}
.container-login > .arrow-login ,.container-registrar > .arrow-login{
  padding: 30px 20px;
}
.container-login > .arrow-login::before,.container-registrar > .arrow-login::before {
  z-index: 2;
  position: absolute;
  content: "";
  background: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  top: -10px;
  right: 15px;
}
.container-registrar{
  bottom: 14px !important;
}
.circle-cat {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  padding: 15px;
  overflow: hidden;
  /*border-radius: 150px;*/
  border-radius: 14px;
  /*box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.02);*/
}
.circle-cat-lading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  overflow: hidden;
  /*border-radius: 150px;*/
  border-radius: 14px;
  /*box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.02);*/
}
.circle-cat img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.circle-cat-lading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-product {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.096),
    -2px 0px 2px rgba(0, 0, 0, 0.055);
  overflow: hidden;
  border-radius: 20px;
  padding: 10px 0px;
}
.image-product img,
.image-product-Mejor > img {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
}
.no-shadow{
  box-shadow: none !important;
}
.cargar_mas {
  width: max-content;
}
.container-img-card {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  z-index: -1;
}
.image-product {
  padding: 15px;
  width: 100%;
  height: 180px;
}
.image-product-Mejor {
  filter: blur(0);
  /**datos para reponsivo*/
}
.hover-enlace:hover::before {
  padding: 12px 20px;
  top: 50%;
  left: 50%;
  opacity: 1;
  font-size: 0.8rem;
  transform: translate(-50%, -50%);
}
.hover-enlace::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  content: "Ver más";
  background-color: #ec1c24;
  border-radius: 5px;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  opacity: 0;
  font-size: 0.5rem;
  -webkit-transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
}

.hover-enlace:hover::after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 1;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.header-grid {
  gap: 10px;
  display: grid;
  grid-template-columns: max-content 0.5fr 1.5fr 1fr;
  grid-template-areas: "logo categoria search cuentas";
}

.logo-header {
  grid-area: logo;
  justify-self: center;
  align-self: center;
}

.categoria {
  justify-self: center;
  align-self: center;
  grid-area: categoria;
}

.search-header {
  grid-area: search;
  justify-self: center;
  align-self: center;
  border: 1px solid #e6e6e6;
}

.bg-slate-gray {
  background: #e6e6e6;
}

.search-header > input::placeholder {
  font-size: 0.8rem !important;
}

.cuenta-header {
  grid-area: cuentas;
  justify-self: center;
  align-self: center;
}
.shadow-header {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.listados-cat {
  margin-bottom: 4px;
}

.listados-cat:hover {
  border-left: 3px solid #ff4d00 !important;
  font-weight: 700;
  transition: all 0.1s ease;
}
.filter-border {
  border-bottom: 1px solid rgba(172, 172, 172, 0.452);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* Ancho de la scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Fondo de la track de la scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: red; /* Color de la thumb de la scrollbar */
  border-radius: 6px; /* Radio de borde de la thumb */
  border: 3px solid transparent; /* Borde de la thumb (opcional) */
}

.auto-product-grid {
  display: grid;
  grid-gap: 20px; /* Espacio entre tarjetas */
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

[id^="iico"] {
  position: absolute;
  top: 50%;
  z-index: 3;
}

[id$="PreSH"] {
  left: 0px;
}
[id$="NextSH"] {
  right: 0px;
}

.barra{
  height: 0.1px;
  width: 100%;
}

.swiper-pagination-bullet {
  border-radius: 5px !important;
  width: 15px !important;
  height: 5px !important;
}

.swiper-pagination-bullet-active {
  background: #ff4d00 !important;
}

.count-cart{
  font-size: .8rem;
  top: -5px;
  color: white;
  right: -13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff4d00de;
  height: 20px;
  width: 20px;
  border-radius: 50px;
}

.topScroll {
  cursor: pointer;
  width: max-content;
  right: 30px;
  bottom: 25px;
  z-index: 4;
}
.close-modal-header {
  right: 16px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}

.modal-bg {
  padding: 15px;
  background: rgb(255, 255, 255);
  width: max-content;
  min-height: 100vh;
}

.modal-header {
  background: rgba(0, 0, 0, 0.164);
  backdrop-filter: blur(3px);
  width: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
}
.modal-cart-bg {
  max-width: 500px;
  min-width: 300px;
  min-height: 100vh;
}
.grid-modal-cart{
  display: grid;
  grid-template-rows: max-content 1fr 250px;
}
.scroll-items {
  overflow-y: auto;
  height: calc(100vh - 350px);

}
.scroll-items::-webkit-scrollbar-thumb {
  background: #ec1c24;
  border-radius: 4px;
}
/* Para navegadores que no admiten las propiedades anteriores, puedes agregar estilos específicos para Webkit */
.scroll-items::-webkit-scrollbar {
  width: 6px;
}

.scroll-items::-webkit-scrollbar-thumb {
  background-color: #ff4d00;
}

.scroll-items::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
.rest-btn,.mas-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  padding: 1px 3px;
  border-radius: 5px;
}
.container-items-cart{
  width: 380px;
}
.box-modal-info{
  box-shadow: 0 0 12px rgba(0,0,0,.15) ;
}

.numberItems {
  width: 50px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
}

.items-cart {
  background: white;
  border-radius: 15px;
}

.shadow-items-cart{
  box-shadow: 0 2px 6px rgb(0 0 0/6%);
}

.modal-cart {
  background: rgba(0, 0, 0, 0.164);
  backdrop-filter: blur(3px);
  width: 100%;
  min-height: 100vh;
  right: 0px;
  top: 0;
  display: flex;
  justify-content: end;
}
.text-orange {
  color: #ff4d00;
}
.text-xss {
  font-size: 0.7rem;
}
@media (max-width: 1280px) {
  .header-grid {
    gap: 10px;
    display: grid;
    grid-template-columns: max-content 0.5fr 2fr 1fr;
    grid-template-areas: "logo categoria search cuentas";
  }
}
@media (max-width: 1024px) {
  [id$="PreS"] {
    left: -10px;
  }
  [id$="NextS"] {
    right: -10px;
  }
}
@media (max-width: 1016px) {
  .portada-main {
    height: 65vh;
    width: 100%;
  }
}

@media (max-width: 917px) {
  .circle-cat {
    width: 100px;
    height: 100px;
  }
}


@media (max-width: 838px) {
  .portada-main {
    height: 60vh;
    width: 100%;
  }
}

@media (max-width: 552px) {
  .portada-main {
    height: 50vh;
    width: 100%;
  }
}
@media (max-width: 499px) {
  .image-product-Mejor {
    height: auto;
  }
}

@media (max-width: 407px) {
  .verCategoria,
  [id^="ico"] {
    display: none;
  }
}

.icon-shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25) !important;
  width: 40px !important;
  height: 40px !important;
}

.cateBtnSwiper {
  /* background: rgba(248, 248, 248, 0.47);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13); */
  border-radius: 50px;
  width: 28px;
  height: 28px;
  transition: 0.1s all ease-out;
}
.cateBtnSwiper:hover{
  color: #ffffff ;
  background: #FF4D00 ;
  transform: scale(1.07);
  transition: 0.1s all ease-out;
}

footer {
  background: #f9f9f9;
}

.hover-border::before {
  position: absolute;
  content: "";
  left: 0;
  width: 0%;
  bottom: -3px;
  height: 1.2px;
  background: black;
  transition: width 0.3s ease; 
}

.hover-border:hover::before {
  width: 100%; 
}


.btn-agre {
  background: linear-gradient(90deg, #ff4d00 0%, #fd1111 100%) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.des-gradient {
  background: linear-gradient(90deg, #ff4d00 0%, #fd1111 100%) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

[id^="addCart"]{
  padding: 15px 20px !important;
}
[id^="addCart"] > button > svg{
  color: white !important;
}
[id^="addCart"] .mantine-Notification-body > .mantine-Notification-title{
 color: white !important;
}
[id^="addCart"] .mantine-Notification-body > .mantine-Notification-description{
  color: rgb(235, 235, 235);
}

.bg-notifi-addcart{
  /*background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);*/
  /* background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%); */
  /* background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%); */
  background: #ffbd06 !important;
  background: #0ad65f !important; 
}

/** input form  */
#label-input {
  transition: all 0.1s ease-in-out;
  color: #542c2c;
  position: absolute;
  top: 30%;
  left: 18px;
  transform: scale(0.95);
  opacity: 1;
  pointer-events: none;
}

.setLabel{
  color: #542c2c6b !important;
  left: 10px !important;
  top: 20% !important;
  transform: scale(.80) !important;
}
.input-base {
  border-radius: 10px;
}

#input:focus ~ label#label-input,
#input:not(:placeholder-shown) ~ #label-input {
  top: -30% !important;
  left: 2px !important;
  transform: scale(0.8);
  background: white;
  color: black !important;
  padding: 0 6px;
  opacity: 1;
}

#input {
  transition: outline 0.2s ease;
  font-size: 1rem;
  outline-color: var(--button-text);
  outline: unset;
  border: 1px solid #bbbbbb;
  padding: 17px 10px;
  width: 100%;
}

.icon-password{
  right: 5%;
  top: 30%;

}
.setInput{
  padding: 6px 10px !important;
}
.errorBorder{
  border: 1px solid #f80000 !important;
}

.border-form{
  border-left: 1px solid #8080803b;
  padding-left: 20px;
}


.BtnSwiperPortada{
  background: white;
  padding: 10px;
}

.borderPre{
  padding-right: 20px !important;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.borderNext{
  padding-left: 20px !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}