@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.title-nunito{
  font-family: "Nunito", sans-serif !important;
  font-style: italic;
  font-weight: 900;
}

.nunito-sub-title{
font-family: 'Nunito';
font-style: italic;
font-weight: 900;
font-size: 40px;
line-height: 85px;
color: #13172C;
}
.sub-title-main{
  font-size: 40px !important;
}
.main-grid{
  grid-template-columns: 1.4fr 1fr;
}
.container-info-about {
  justify-content: end;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.btn-main{
  padding: 10px  30px!important;
}
.container-about{
  grid-template-columns: 1fr 1.5fr;
}

.circle-cat-lading {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /*border-radius: 150px;*/
  border: 3px solid #ffffff;
  border-radius: 14px;
  /*box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.02);*/
}

.container-about h2,
.container-vision-valor h2 {
  color: #ff4d00 !important;
}

.container-about p {
  font-weight: 100 !important;
}

.button-about {
  background: transparent;
  position: relative;
  padding: 1px 10px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 12px;
  outline: none;
  overflow: hidden;
  color: rgb(255, 0, 0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.button-about span {
  margin: 5px;
  width: 100%;
}

.button-about::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 20em;
  left: 0em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.button-about:hover {
  color: #fff;
  border: 1px solid rgb(255, 0, 0);
  z-index: 1;
}

.button-about:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0) !important;
  -webkit-box-shadow: inset 0 0 0 10em rgb(255, 0, 0) !important;
  -moz-box-shadow: inset 0 0 0 10em rgb(255, 0, 0) !important;
}

/** CSS VISION Y VALORES*/
.container-vision-valor {
  padding: 80px 0 130px 0;
}

.card-info{
  padding: 50px 30px;
}
.conocer-btn{
  background-color: #ff4d00;
  color: white;
  transition: all 0.2s ease-in;
  filter: blur(0);
  backdrop-filter: none;
}
.conocer-btn:hover{
  transform: translateY(-2px);
  transition: all 0.2s ease-in;
  filter: blur(0);
  backdrop-filter: none;
}

.container-max-widt{
  display: flex;
  justify-self: center !important;
  align-items: center !important;
  border-radius: 0px 30px 30px 30px;
  padding: 0px 20px !important;
  height: 100%;
  box-shadow: 0px 8px 28px rgba(65, 65, 65, 0.16)
}
.gradient-title{
  width: 50%;
  background-image: linear-gradient(to right, #FF4D00 0%, #FD1111 100%);
  padding: 10px 20px;
  border-radius: 20px 20px 0px 0px;
}
/**Categoria*/
.title-categoria {
  position: relative;
  top: -50px;
  z-index: 2;
}

.title-categoria > h2 {
  z-index: 3;
}
.title-div{
  position: absolute;
  left: 0px;
  top: -25px;
  width: 40%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 16%;
} 
#btn-back,
#btn-skip {
  position: absolute;
  background: #ff4d00;
  color: white;
  padding: 5px;
  border-radius: 15px;
}
#btn-back {
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}
#btn-skip {
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
}
.h2-formate{
  color: #ff4d00 !important;
}

.h2-formate-white{
  color: #FFFBFA !important;
}

.header-responsive{
  height: calc(100vh - 76px);
}

.btn-default{
  width: max-content;
  padding: 9px 20px;
  border-radius: 10px;
  cursor: pointer !important;
}
.portada{
  position: absolute;
  height: 120% !important;
  width: 120% !important;
  left: 50% !important; 
  top: 40% !important;
  right: 0;
  bottom: 0;
  object-fit: contain !important;
  color: transparent;
  transform: translate(-50%, -50%) !important;
}
@media screen and (max-width: 1535px){
  .title-div{
    left: 0px;
    top: -25px;
    width: 50%;
    height: 16%;
  } 
}

@media screen and (max-width: 1280px){
  .title-div{
    left: 0px;
    top: -25px;
    width: 60%;
    height: 16%;
  } 
}

@media screen and (max-width: 766px){
  .title-div{
    left: 0px;
    top: -25px;
    width: 60%;
    height: 15%;
  } 
}

@media screen and (max-width: 757px){
  .container-info-about {
    max-width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    justify-content: start;
    padding: 0 6px;
  }
}
@media screen and (max-width: 626px){
  .title-div{
    left: 0px;
    top: -25px;
    width: 70%;
    height: 15%;
  } 
}
@media screen and (max-width: 470px){
  .title-div{
    left: 0px;
    top: -25px;
    width: 350px;
    height: 15%;
  } 
}
@media screen and (max-width: 466px){
  footer{
    gap: 10px !important;
    flex-direction: column;
    justify-content: start !important;
    align-items: start !important;
  }
}